@charset "UTF-8";
@font-face {
  font-family: 'Genkai-Mincho';
  src: url("../fonts/Genkai-Mincho-font/genkai-mincho.ttf"); }
@font-face {
  font-family: 'NotoSansJP-Bold';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf"); }
@font-face {
  font-family: 'NotoSansJP-Medium';
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf"); }
html {
  font-family: "NotoSansJP-Bold";
  font-size: 10px; }

@keyframes loadingTamadora {
  0% {
    transform: rotate(15deg); }
  50% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(15deg); } }
#loading {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999; }
  #loading img {
    animation: loadingTamadora 3s infinite ease-out;
    width: 18rem; }

@media screen and (max-width: 768px) {
  #loading img {
    width: 33.8164251208vw; } }
@keyframes loadedTamadora {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }
.loaded {
  animation: loadedTamadora 0.5s forwards; }

/* ヘッダー */
.header {
  align-items: center;
  background-color: #333333;
  box-sizing: border-box;
  display: flex;
  height: 15rem;
  padding: 0 6rem 0 3rem;
  position: fixed;
  transform: skewY(-3deg);
  transform-origin: top left;
  z-index: 99;
  width: 100vw; }
  .header__menu {
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    margin-top: 4.5rem;
    transform: skewY(3deg);
    width: 100%; }
    .header__menu li {
      white-space: nowrap;
      margin-left: 2rem; }
      .header__menu li a {
        color: white;
        text-decoration: none; }
        .header__menu li a:hover {
          color: #fce34c; }
  .header__logo {
    transform: skewY(3deg); }
    .header__logo img {
      width: 17.5rem; }

@media screen and (max-width: 768px) {
  .header {
    height: 19.3236714976vw;
    padding: 0 6.038647343vw 0 5.3140096618vw;
    width: 100%; }
    .header__menu {
      display: none; }
    .header__logo img {
      width: 23.6714975845vw; }
    .header__hamburger-menu {
      cursor: pointer;
      margin: 3.6231884058vw 0 0 auto;
      transition: 0.2s; }
      .header__hamburger-menu-line {
        background-color: white;
        border-radius: 1.2077294686vw;
        height: 1.2077294686vw;
        margin-top: 0.7246376812vw;
        width: 6.038647343vw; } }
.modal-header {
  display: none; }

@media screen and (max-width: 768px) {
  .modal-header {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    height: 100vh;
    position: fixed;
    right: 0;
    transform: translateX(50vw);
    transition: 0.2s;
    width: 50vw;
    z-index: 100; }
    .modal-header__menu {
      font-size: 4.347826087vw;
      margin-top: 28.9855072464vw;
      text-align: center; }
      .modal-header__menu li {
        margin-top: 9.6618357488vw; }
        .modal-header__menu li a {
          color: white;
          cursor: pointer;
          text-decoration: none; }
          .modal-header__menu li a:hover {
            color: #fce34c; }
    .modal-header__close-button {
      cursor: pointer;
      transition: 0.2s;
      position: absolute;
      right: 4.8309178744vw;
      top: 4.8309178744vw; }
      .modal-header__close-button img {
        width: 6.038647343vw; } }
.fixed-entry-button {
  align-items: center;
  bottom: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 3rem;
  transition: 0.2s;
  z-index: 99; }
  .fixed-entry-button:hover {
    transform: scale(1.1); }
  .fixed-entry-button__dragon {
    bottom: 12rem;
    position: absolute;
    width: 12rem;
    z-index: 2; }
  .fixed-entry-button div {
    align-items: center;
    background: black;
    border: 0.6rem solid #e7d04b;
    border-radius: 50%;
    box-shadow: 0 0.8rem 0.5rem rgba(68, 68, 68, 0.644);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    height: 14rem;
    justify-content: center;
    width: 14rem; }
    .fixed-entry-button div p {
      margin-top: 2rem;
      margin-bottom: 1.5rem; }
    .fixed-entry-button div img {
      transition: 0.3s;
      width: 6.95rem; }

@media screen and (max-width: 768px) {
  .fixed-entry-button {
    bottom: 3.6231884058vw;
    right: 2.4154589372vw; }
    .fixed-entry-button__dragon {
      bottom: 18.115942029vw;
      width: 19.5652173913vw; }
    .fixed-entry-button div {
      border: 1.4492753623vw solid #e7d04b;
      box-shadow: 0 1.9323671498vw 0.5 rgba(68, 68, 68, 0.644);
      font-size: 3.3816425121vw;
      height: 21.7391304348vw;
      width: 21.7391304348vw; }
      .fixed-entry-button div p {
        margin-top: 4.8309178744vw;
        margin-bottom: 2.4154589372vw; }
      .fixed-entry-button div img {
        width: 10.38647343vw; } }
main {
  padding-top: 15rem; }

/* メインビジュアル */
.main-visual {
  background-image: url("../images/zeus_dragon.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  height: 65rem;
  margin: 0 auto;
  max-width: 140rem; }
  .main-visual__balls-bg {
    height: 65rem;
    position: relative;
    transition: 1s; }
  .main-visual__ball--blue {
    left: 10rem;
    position: absolute;
    top: 4rem;
    transition: 1.5s; }
    .main-visual__ball--blue img {
      width: 18rem; }
  .main-visual__ball--purple {
    left: 0;
    position: absolute;
    top: 34rem;
    transition: 1.5s; }
    .main-visual__ball--purple img {
      width: 25rem; }
  .main-visual__ball--yellow {
    position: absolute;
    right: 13rem;
    top: 0;
    transition: 1.5s; }
    .main-visual__ball--yellow img {
      width: 20rem; }
  .main-visual__ball--red {
    position: absolute;
    right: 0;
    top: 22rem;
    transition: 1.5s; }
    .main-visual__ball--red img {
      width: 27rem; }
  .main-visual__ball--green {
    bottom: 0;
    position: absolute;
    right: 27rem;
    transition: 1.5s; }
    .main-visual__ball--green img {
      width: 18rem; }
  .main-visual__text {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12rem;
    z-index: 1; }
    .main-visual__text-1 {
      margin-top: 2rem; }
      .main-visual__text-1 img {
        width: 55rem; }
    .main-visual__text-2 {
      margin-top: 3rem; }
      .main-visual__text-2 img {
        width: 70rem; }
    .main-visual__text-3 {
      margin-top: 4rem; }
      .main-visual__text-3 img {
        width: 35rem; }

@media screen and (max-width: 1200px) {
  .main-visual {
    overflow-x: hidden;
    width: 100%; }
    .main-visual__balls-bg {
      overflow-x: hidden;
      transform: translateX(-8%);
      width: 120%; } }
@media screen and (max-width: 768px) {
  main {
    padding-top: 24.154589372vw; }

  /* メインビジュアル */
  .main-visual {
    height: 65.2173913043vw;
    margin: 0 auto;
    overflow-x: visible; }
    .main-visual__ball {
      display: none; }
    .main-visual__balls-bg {
      height: 0;
      overflow-x: visible;
      transform: translateX(0);
      width: 100%; }
    .main-visual__text {
      top: 5.7971014493vw; }
      .main-visual__text-1 {
        margin-top: 7.2463768116vw; }
        .main-visual__text-1 img {
          width: 57.9710144928vw; }
      .main-visual__text-2 {
        margin-top: 4.8309178744vw; }
        .main-visual__text-2 img {
          width: 94.2028985507vw; }
      .main-visual__text-3 {
        margin-top: 2.4154589372vw; }
        .main-visual__text-3 img {
          width: 41.0628019324vw; } }
.top-links {
  margin: 8rem auto 0;
  text-align: center; }
  .top-links__youtube img {
    cursor: pointer;
    transition: 0.2s;
    width: 42rem; }
    .top-links__youtube img:hover {
      transform: scale(1.1); }
  .top-links__youtube-text {
    font-size: 1.6rem;
    margin-top: 1rem; }
  .top-links__twitter {
    margin-top: 6rem; }
    .top-links__twitter img {
      cursor: pointer;
      transition: 0.2s;
      width: 38rem; }
      .top-links__twitter img:hover {
        transform: scale(1.1); }

@media screen and (max-width: 768px) {
  .top-links {
    margin: 4.8309178744vw auto 0; }
    .top-links__youtube img {
      width: 59.1787439614vw; }
    .top-links__youtube-text {
      font-size: 3.3816425121vw;
      margin-top: 2.4154589372vw; }
    .top-links__twitter {
      margin-top: 9.6618357488vw; }
      .top-links__twitter img {
        width: 48.309178744vw; } }
.contents-area__name {
  align-items: center;
  display: flex;
  margin-left: 3rem;
  position: relative;
  transform: translateY(4rem);
  z-index: 1; }
  .contents-area__name-circle img {
    width: 11.8rem; }
  .contents-area__name-text {
    margin-left: -6rem;
    margin-top: 3rem;
    text-align: right; }
    .contents-area__name-text__title {
      font-size: 6.6rem; }
    .contents-area__name-text__sub-title {
      color: #6b6b6b;
      font-family: "NotosansJP-Medium";
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 1rem; }

.contents-title {
  background: white;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  transform: skewX(-20deg); }
  .contents-title p {
    font-size: 2rem;
    transform: skewX(20deg); }

@media screen and (max-width: 768px) {
  .contents-area__name {
    margin-bottom: 4.8309178744vw;
    margin-left: 2.4154589372vw;
    transform: translateY(4rem); }
    .contents-area__name-circle img {
      width: 19.3236714976vw; }
    .contents-area__name-text {
      margin-left: -10.8695652174vw;
      margin-top: 7.2463768116vw; }
      .contents-area__name-text__title {
        font-size: 9.1787439614vw; }
      .contents-area__name-text__sub-title {
        font-size: 3.8647342995vw;
        margin-top: 2.4154589372vw; }

  .contents-title {
    display: inline-block;
    padding: 1.9323671498vw 6.038647343vw; }
    .contents-title p {
      font-size: 4.8309178744vw; } }
.u26-pazudora-cup {
  margin-top: -3rem;
  padding-top: 12rem; }
  .u26-pazudora-cup__bg {
    background-color: #fce34c;
    height: 100rem; }
    .u26-pazudora-cup__bg-shadow {
      background-color: #e7d04b;
      height: 105rem;
      transform: skewY(-8deg); }
  .u26-pazudora-cup__contents {
    padding-top: 12rem;
    transform: skewY(8deg); }
  .u26-pazudora-cup__outline {
    font-size: 1.6rem;
    margin: 0 auto;
    width: 68rem; }
    .u26-pazudora-cup__outline-text {
      line-height: 5rem;
      margin-top: 5rem; }
      .u26-pazudora-cup__outline-text span {
        background-color: #4BDCC2;
        color: white;
        font-size: 2.4rem; }
  .u26-pazudora-cup__cm {
    margin: 0 auto;
    width: 68rem; }
    .u26-pazudora-cup__cm__contents-title {
      margin: 6.5rem auto 0;
      width: 68rem; }
    .u26-pazudora-cup__cm-video {
      border: 2px solid white;
      display: block;
      margin-top: 3rem;
      position: relative;
      width: 100%;
      z-index: 1; }
    .u26-pazudora-cup__cm-tamadora {
      transform: translate(-15rem, -20rem); }
      .u26-pazudora-cup__cm-tamadora img {
        width: 20rem; }

@media screen and (max-width: 1000px) {
  .u26-pazudora-cup__cm {
    width: 70vw; }
    .u26-pazudora-cup__cm-tamadora {
      transform: translate(-10rem, -20rem); } }
@media screen and (max-width: 768px) {
  .u26-pazudora-cup {
    padding-top: 14.4927536232vw; }
    .u26-pazudora-cup__bg {
      background-color: #fce34c;
      height: 221.0144927536vw; }
      .u26-pazudora-cup__bg-shadow {
        background-color: #e7d04b;
        height: 230.6763285024vw;
        transform: skewY(-8deg); }
    .u26-pazudora-cup__contents {
      padding-top: 19.3236714976vw; }
    .u26-pazudora-cup__outline {
      font-size: 3.8647342995vw;
      text-align: center;
      width: 80.9178743961vw; }
      .u26-pazudora-cup__outline-text {
        line-height: 12.077294686vw;
        margin-top: 7.2463768116vw;
        text-align: left; }
        .u26-pazudora-cup__outline-text span {
          font-size: 5.7971014493vw; }
    .u26-pazudora-cup__cm {
      width: 100%; }
      .u26-pazudora-cup__cm__contents-title {
        margin-left: 7.2463768116vw;
        width: 50%; }
      .u26-pazudora-cup__cm-video {
        border: 2px solid white;
        box-sizing: border-box;
        display: block;
        margin-top: 3rem;
        position: relative;
        width: 100%;
        z-index: 1; }
      .u26-pazudora-cup__cm-tamadora {
        display: inline-block;
        transform: translate(43.4782608696vw, -78.5024154589vw); }
        .u26-pazudora-cup__cm-tamadora img {
          width: 48.309178744vw; } }
.event-outline {
  margin-top: 3rem;
  padding-top: 12rem; }
  .event-outline__bg {
    background-color: #fce34c;
    height: 155rem; }
    .event-outline__bg-shadow {
      background-color: #e7d04b;
      height: 160rem;
      transform: skewY(-8deg); }
  .event-outline__contents {
    padding-top: 12rem;
    transform: skewY(8deg); }
    .event-outline__contents a {
      text-decoration: none; }
  .event-outline__title-map {
    margin-bottom: 2rem; }
  .event-outline__first-contents {
    display: flex;
    margin: 0 auto;
    width: 68rem; }
  .event-outline__event-outline {
    margin-top: 5rem;
    margin-left: auto;
    display: inline-block; }
    .event-outline__event-outline__bg {
      width: 46rem; }
    .event-outline__event-outline__list {
      display: flex;
      font-size: 1.6rem;
      padding: 0.5rem 0; }
      .event-outline__event-outline__list div {
        border-bottom: 0.1rem solid black;
        display: flex;
        margin-left: 1rem;
        width: 28.5rem; }
        .event-outline__event-outline__list div h3 {
          width: 6rem; }
        .event-outline__event-outline__list div p {
          line-height: 3rem;
          margin-left: 3.5rem;
          margin-top: -0.75rem; }
  .event-outline__pool-play {
    background-color: #443f21;
    height: 42rem;
    margin-top: 8rem;
    overflow: hidden; }
    .event-outline__pool-play__container {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 100rem; }
    .event-outline__pool-play__dragon {
      margin-left: auto; }
      .event-outline__pool-play__dragon img {
        height: 42rem; }
    .event-outline__pool-play__outline {
      margin: 4.5rem auto 0;
      padding-left: 2rem; }
      .event-outline__pool-play__outline-title {
        background: #fce34c;
        color: black;
        display: inline-block;
        margin-bottom: 4rem;
        padding: 0.8rem 1.2rem;
        transform: skewX(-20deg); }
        .event-outline__pool-play__outline-title p {
          font-size: 2rem;
          transform: skewX(20deg); }
      .event-outline__pool-play__outline-list {
        color: #fce34c;
        display: flex;
        font-size: 1.6rem;
        padding: 0.5rem 0; }
        .event-outline__pool-play__outline-list div {
          border-bottom: 0.1rem solid #fce34c;
          display: flex;
          margin-left: 1rem;
          width: 44rem; }
          .event-outline__pool-play__outline-list div h3 {
            width: 10rem; }
          .event-outline__pool-play__outline-list div p {
            line-height: 3rem;
            margin-left: 3.5rem;
            margin-top: -0.75rem; }
            .event-outline__pool-play__outline-list div p a {
              color: #4BDCC2;
              text-decoration: none; }
              .event-outline__pool-play__outline-list div p a:hover {
                opacity: 0.8; }
      .event-outline__pool-play__outline-precaution {
        color: #fce34c;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: 1.2rem;
        margin-left: 2.5rem; }
  .event-outline__final {
    background-color: white;
    height: 42rem;
    margin-top: 8.5rem; }
    .event-outline__final__container {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 100rem; }
    .event-outline__final__dragon {
      margin-right: auto;
      overflow: hidden; }
      .event-outline__final__dragon img {
        height: 42rem; }
    .event-outline__final__outline {
      margin: 4.5rem auto 8rem;
      padding-right: 2rem; }
      .event-outline__final__outline-title {
        background: black;
        color: white;
        display: inline-block;
        margin-bottom: 4rem;
        padding: 0.8rem 1.2rem;
        transform: skewX(-20deg); }
        .event-outline__final__outline-title p {
          font-size: 2rem;
          transform: skewX(20deg); }
      .event-outline__final__outline-list {
        display: flex;
        font-size: 1.6rem;
        padding: 0.5rem 0; }
        .event-outline__final__outline-list div {
          border-bottom: 0.1rem solid black;
          display: flex;
          margin-left: 1rem;
          width: 44rem; }
          .event-outline__final__outline-list div h3 {
            width: 10rem; }
          .event-outline__final__outline-list div p {
            line-height: 3rem;
            margin-left: 3.5rem;
            margin-top: -0.75rem; }
            .event-outline__final__outline-list div p a {
              color: #4BDCC2;
              text-decoration: none; }
              .event-outline__final__outline-list div p a:hover {
                opacity: 0.8; }
      .event-outline__final__outline-precaution {
        color: black;
        font-size: 1.2rem;
        margin-top: 1.2rem; }
  .event-outline__detail {
    align-items: center;
    background-color: black;
    border: none;
    box-shadow: 0 0.6rem 1rem rgba(75, 75, 75, 0.5);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 3.6rem;
    font-weight: 700;
    height: 12.5rem;
    justify-content: center;
    margin-right: 9rem;
    margin-top: 9.5rem;
    position: absolute;
    right: 0;
    transition: 0.2s;
    width: 44rem; }
    .event-outline__detail img {
      margin-right: 2rem;
      width: 3.8rem; }
    .event-outline__detail:hover {
      background-color: white;
      color: black; }

@media screen and (max-width: 1000px) {
  .event-outline__pool-play__dragon {
    transition: 0.2s;
    margin-right: -4rem; }
  .event-outline__final__dragon {
    transition: 0.2s;
    margin-left: -4rem; } }
@media screen and (max-width: 768px) {
  .event-outline {
    margin-top: 0;
    padding-top: 14.4927536232vw; }
    .event-outline__bg {
      background-color: #fce34c;
      height: 422.7053140097vw; }
      .event-outline__bg-shadow {
        background-color: #e7d04b;
        height: 432.3671497585vw;
        transform: skewY(-8deg); }
    .event-outline__title-map {
      text-align: center;
      width: 100%; }
      .event-outline__title-map .contents-title {
        margin-top: 9.6618357488vw; }
    .event-outline__contents {
      padding-top: 19.3236714976vw; }
    .event-outline__title-map {
      margin-bottom: 6.7632850242vw; }
    .event-outline__first-contents {
      display: flex;
      flex-direction: column-reverse;
      width: 100%; }
      .event-outline__first-contents iframe {
        height: 57.9710144928vw;
        width: 100%; }
    .event-outline__event-outline {
      margin: 1.2077294686vw auto 0; }
      .event-outline__event-outline__list {
        font-size: 3.8647342995vw;
        padding: 1.2077294686vw 0; }
        .event-outline__event-outline__list div {
          margin-left: 2.4154589372vw;
          width: 65.2173913043vw; }
          .event-outline__event-outline__list div h3 {
            width: 14.4927536232vw; }
          .event-outline__event-outline__list div p {
            line-height: 7.2463768116vw;
            margin-left: 4.8309178744vw;
            margin-top: -1.8115942029vw; }
    .event-outline__pool-play {
      height: 108.6956521739vw;
      margin-top: 19.3236714976vw; }
      .event-outline__pool-play__dragon {
        display: none; }
      .event-outline__pool-play__outline {
        margin: 0;
        padding-left: 0;
        text-align: center; }
        .event-outline__pool-play__outline-title {
          margin-top: 8.4541062802vw;
          margin-bottom: 9.6618357488vw;
          padding: 1.9323671498vw 2.8985507246vw; }
          .event-outline__pool-play__outline-title p {
            font-size: 4.8309178744vw; }
        .event-outline__pool-play__outline-list {
          font-size: 3.8647342995vw;
          padding: 1.2077294686vw 0; }
          .event-outline__pool-play__outline-list div {
            margin-left: 2.4154589372vw;
            text-align: left;
            width: 72.4637681159vw; }
            .event-outline__pool-play__outline-list div h3 {
              width: 16.9082125604vw; }
            .event-outline__pool-play__outline-list div p {
              line-height: 7.2463768116vw;
              margin-left: 8.4541062802vw;
              margin-top: -1.8115942029vw;
              width: 47.1014492754vw; }
        .event-outline__pool-play__outline-precaution {
          font-size: 2.8985507246vw;
          line-height: 3.6231884058vw;
          margin-top: 2.8985507246vw;
          margin-left: 0;
          overflow-wrap: break-word;
          text-align: left; }
        .event-outline__pool-play__outline-title {
          margin-bottom: 9.6618357488vw;
          padding: 1.9323671498vw 2.8985507246vw; }
          .event-outline__pool-play__outline-title p {
            font-size: 4.8309178744vw; }
    .event-outline__final {
      height: 108.6956521739vw;
      margin-top: 19.3236714976vw; }
      .event-outline__final__dragon {
        display: none; }
      .event-outline__final__outline {
        margin: 0;
        padding-right: 0;
        text-align: center; }
        .event-outline__final__outline-title {
          margin-top: 8.4541062802vw; }
          .event-outline__final__outline-title p {
            font-size: 4.8309178744vw; }
        .event-outline__final__outline-list {
          font-size: 3.8647342995vw;
          padding: 1.2077294686vw 0; }
          .event-outline__final__outline-list div {
            margin-left: 2.4154589372vw;
            text-align: left;
            width: 72.4637681159vw; }
            .event-outline__final__outline-list div h3 {
              width: 16.9082125604vw; }
            .event-outline__final__outline-list div p {
              line-height: 7.2463768116vw;
              margin-left: 8.4541062802vw;
              margin-top: -1.8115942029vw;
              width: 47.1014492754vw; }
        .event-outline__final__outline-precaution {
          font-size: 2.8985507246vw;
          line-height: 3.6231884058vw;
          margin-top: 2.8985507246vw;
          text-align: left; }
        .event-outline__final__outline-title {
          margin-bottom: 9.6618357488vw;
          padding: 1.9323671498vw 2.8985507246vw; }
          .event-outline__final__outline-title p {
            font-size: 4.8309178744vw; }
    .event-outline__detail {
      font-size: 5.7971014493vw;
      height: 19.3236714976vw;
      justify-content: center;
      margin: 9.6618357488vw auto 0;
      position: relative;
      width: 72.4637681159vw; }
      .event-outline__detail img {
        margin-right: 2.4154589372vw;
        width: 7.729468599vw; } }
.guest {
  margin-top: 3rem;
  padding-top: 12rem; }
  .guest__bg {
    background-color: #fce34c;
    height: 105rem; }
    .guest__bg-shadow {
      background-color: #e7d04b;
      height: 110rem;
      transform: skewY(-8deg); }
    .guest__bg__bg {
      background-color: #fce34c;
      height: 105rem; }
      .guest__bg__bg-shadow {
        background-color: #e7d04b;
        height: 110rem;
        transform: skewY(-8deg); }
  .guest__contents {
    padding-top: 16rem;
    transform: skewY(8deg); }
  .guest__guest-img {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100rem;
    min-width: 0;
    padding: 0 2rem;
    position: relative;
    z-index: 1; }
    .guest__guest-img img {
      display: block;
      height: auto;
      max-width: 25rem;
      min-width: 0;
      width: 100%; }
      .guest__guest-img img:first-child {
        transform: translateY(5rem); }
      .guest__guest-img img:last-child {
        transform: translateY(-5rem); }
  .guest__profile {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100rem;
    padding: 10rem 2rem;
    transform: skewY(8deg); }
    .guest__profile-bg {
      background-color: #443f21;
      transform: skewY(-8deg) translateY(-10rem); }
    .guest__profile-container {
      color: white;
      font-size: 1.6rem;
      margin: 3rem 1rem;
      max-width: 25rem;
      width: 100%; }
      .guest__profile-container:first-child {
        transform: translateY(5rem); }
      .guest__profile-container:last-child {
        transform: translateY(-5rem); }
      .guest__profile-container p:first-child {
        color: #fce34c;
        font-size: 2rem;
        text-align: center; }
      .guest__profile-container p:nth-child(2) {
        line-height: 2.5rem;
        margin-top: 2rem; }
      .guest__profile-container p:nth-child(3) {
        line-height: 2.5rem;
        margin-top: 4rem; }
      .guest__profile-container p:last-child {
        margin-top: 5rem;
        text-align: center; }
        .guest__profile-container p:last-child img {
          width: 5rem; }
      .guest__profile-container a {
        cursor: pointer; }
        .guest__profile-container a:hover {
          opacity: 0.8; }
    .guest__profile-career {
      margin: 3rem 0 0; }
      .guest__profile-career ul {
        margin-top: 1rem;
        display: flex; }
        .guest__profile-career ul li {
          line-height: 2rem; }
        .guest__profile-career ul li:first-child {
          margin-right: 1rem;
          white-space: nowrap; }
  .guest-sp__su {
    display: none; }
  .guest-sp__kosuke {
    display: none; }
  .guest-sp__gaimon {
    display: none; }

@media screen and (max-width: 768px) {
  .guest {
    margin-top: 0;
    padding-top: 14.4927536232vw; }
    .guest__bg {
      background-color: #fce34c;
      height: 664.2512077295vw; }
      .guest__bg-shadow {
        background-color: #e7d04b;
        height: 673.9130434783vw;
        transform: skewY(-8deg); }
    .guest__contents {
      padding-top: 24.154589372vw; }
    .guest__guest-img {
      display: none; }
    .guest__profile {
      display: none; }
    .guest-sp__su {
      display: block; }
      .guest-sp__su-img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 64.0096618357vw;
        z-index: 1; }
      .guest-sp__su-profile {
        background-color: #443f21;
        box-sizing: border-box;
        height: 132.8502415459vw;
        padding-top: 38.6473429952vw;
        text-align: center;
        transform: skewY(-8deg) translateY(-33.8164251208vw); }
        .guest-sp__su-profile p {
          transform: skewY(8deg); }
        .guest-sp__su-profile div {
          transform: skewY(8deg); }
        .guest-sp__su-profile__role {
          color: #fce34c;
          font-size: 4.8309178744vw; }
        .guest-sp__su-profile__introduce {
          color: white;
          font-size: 3.8647342995vw;
          line-height: 6.038647343vw;
          margin: 7.2463768116vw auto 0;
          width: 67.6328502415vw; }
        .guest-sp__su-profile__career {
          margin: 9.6618357488vw auto 0;
          width: 67.6328502415vw; }
          .guest-sp__su-profile__career ul {
            color: white;
            display: flex;
            font-size: 3.8647342995vw;
            margin-top: 2.4154589372vw; }
            .guest-sp__su-profile__career ul li:first-child {
              margin-right: 3.6231884058vw;
              white-space: nowrap; }
        .guest-sp__su-profile__twitter {
          display: block;
          margin: 7.2463768116vw auto 0;
          transform: skewY(8deg);
          width: 10.1449275362vw; }
          .guest-sp__su-profile__twitter:hover {
            opacity: 0.8; }
    .guest-sp__kosuke {
      display: block; }
      .guest-sp__kosuke-img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 64.0096618357vw;
        z-index: 1; }
      .guest-sp__kosuke-profile {
        background-color: #443f21;
        box-sizing: border-box;
        height: 132.8502415459vw;
        padding-top: 38.6473429952vw;
        text-align: center;
        transform: skewY(-8deg) translateY(-33.8164251208vw); }
        .guest-sp__kosuke-profile p {
          transform: skewY(8deg); }
        .guest-sp__kosuke-profile div {
          transform: skewY(8deg); }
        .guest-sp__kosuke-profile__role {
          color: #fce34c;
          font-size: 4.8309178744vw; }
        .guest-sp__kosuke-profile__introduce {
          color: white;
          font-size: 3.8647342995vw;
          line-height: 6.038647343vw;
          margin: 7.2463768116vw auto 0;
          width: 67.6328502415vw; }
        .guest-sp__kosuke-profile__career {
          margin: 9.6618357488vw auto 0;
          width: 67.6328502415vw; }
          .guest-sp__kosuke-profile__career ul {
            color: white;
            display: flex;
            font-size: 3.8647342995vw;
            margin-top: 2.4154589372vw; }
            .guest-sp__kosuke-profile__career ul li:first-child {
              margin-right: 3.6231884058vw;
              white-space: nowrap; }
        .guest-sp__kosuke-profile__twitter {
          display: block;
          margin: 7.2463768116vw auto 0;
          transform: skewY(8deg);
          width: 10.1449275362vw; }
          .guest-sp__kosuke-profile__twitter:hover {
            opacity: 0.8; }
    .guest-sp__gaimon {
      display: block; }
      .guest-sp__gaimon-img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 64.0096618357vw;
        z-index: 1; }
      .guest-sp__gaimon-profile {
        background-color: #443f21;
        box-sizing: border-box;
        height: 149.7584541063vw;
        padding-top: 38.6473429952vw;
        text-align: center;
        transform: skewY(-8deg) translateY(-33.8164251208vw); }
        .guest-sp__gaimon-profile p {
          transform: skewY(8deg); }
        .guest-sp__gaimon-profile div {
          transform: skewY(8deg); }
        .guest-sp__gaimon-profile__role {
          color: #fce34c;
          font-size: 4.8309178744vw; }
        .guest-sp__gaimon-profile__introduce {
          color: white;
          font-size: 3.8647342995vw;
          line-height: 6.038647343vw;
          margin: 7.2463768116vw auto 0;
          width: 67.6328502415vw; }
        .guest-sp__gaimon-profile__career {
          margin: 9.6618357488vw auto 0;
          width: 67.6328502415vw; }
          .guest-sp__gaimon-profile__career ul {
            color: white;
            display: flex;
            font-size: 3.8647342995vw;
            line-height: 4.8309178744vw;
            margin-top: 2.4154589372vw;
            text-align: left; }
            .guest-sp__gaimon-profile__career ul li:first-child {
              margin-right: 3.6231884058vw;
              white-space: nowrap; }
        .guest-sp__gaimon-profile__twitter {
          display: block;
          margin: 7.2463768116vw auto 0;
          transform: skewY(8deg);
          width: 12.077294686vw; }
          .guest-sp__gaimon-profile__twitter:hover {
            opacity: 0.8; } }
.competition-reward {
  margin-top: 3rem;
  padding-top: 12rem; }
  .competition-reward__bg {
    background-color: #fce34c;
    height: 220rem; }
    .competition-reward__bg-shadow {
      background-color: #e7d04b;
      height: 225rem;
      transform: skewY(-8deg); }
  .competition-reward__contents {
    padding-top: 12rem;
    transform: skewY(8deg); }
  .competition-reward__champion {
    background-color: #443f21;
    display: flex;
    height: 41rem;
    margin-top: 2rem; }
    .competition-reward__champion-outline {
      margin: 6.5rem auto 0;
      text-align: center; }
      .competition-reward__champion-outline__description {
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
        height: 80%;
        justify-content: center;
        padding-left: 1rem; }
        .competition-reward__champion-outline__description p:not(:first-child) {
          margin-top: 2rem; }
        .competition-reward__champion-outline__description span {
          font-size: 1.4rem; }
    .competition-reward__champion-contents-title {
      background-color: #fce34c; }
    .competition-reward__champion__prize-image {
      text-align: right;
      width: 50rem; }
      .competition-reward__champion__prize-image-pc {
        height: 41rem; }
      .competition-reward__champion__prize-image-sp {
        display: none; }
  .competition-reward__tops {
    background-color: white;
    display: flex;
    height: 41rem;
    margin-top: 7.5rem; }
    .competition-reward__tops-outline {
      margin: 6.5rem auto 0;
      text-align: center;
      width: 100%; }
      .competition-reward__tops-outline__description {
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
        height: 80%;
        justify-content: center;
        padding-left: 1rem; }
        .competition-reward__tops-outline__description p:not(:first-child) {
          margin-top: 2rem; }
        .competition-reward__tops-outline__description span {
          font-size: 1.4rem; }
    .competition-reward__tops-contents-title {
      background-color: black;
      color: white; }
    .competition-reward__tops__prize-image {
      text-align: right;
      width: 50rem; }
      .competition-reward__tops__prize-image-pc {
        height: 41rem; }
      .competition-reward__tops__prize-image-sp {
        display: none; }
  .competition-reward__others {
    background-color: #443f21;
    box-sizing: border-box;
    display: flex;
    height: 41rem;
    margin-top: 7.5rem; }
    .competition-reward__others-outline {
      margin: 6.5rem auto 0;
      text-align: center; }
      .competition-reward__others-outline__description {
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
        height: 80%;
        justify-content: center;
        line-height: 4rem;
        padding-left: 1rem; }
        .competition-reward__others-outline__description span {
          font-size: 3.6rem; }
    .competition-reward__others-contents-title {
      background-color: #fce34c; }
    .competition-reward__others__prize-image {
      text-align: right;
      width: 50rem; }
      .competition-reward__others__prize-image-pc {
        height: 41.1rem;
        transform: translateY(-0.1rem); }
      .competition-reward__others__prize-image-sp {
        display: none; }
  .competition-reward__participation {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    height: 41rem;
    margin-top: 7.5rem; }
    .competition-reward__participation-outline {
      margin-top: 6.5rem;
      padding: 0 1rem;
      text-align: center;
      width: 100%; }
      .competition-reward__participation-outline__description {
        font-size: 2.4rem;
        line-height: 4rem;
        margin-top: 2rem; }
        .competition-reward__participation-outline__description span {
          font-size: 3.6rem; }
    .competition-reward__participation-contents-title {
      background-color: black;
      color: white; }
    .competition-reward__participation__prize-image-pc {
      height: 41rem; }
    .competition-reward__participation__prize-image-sp {
      display: none; }

@media screen and (max-width: 768px) {
  .competition-reward {
    margin-top: 0;
    padding-top: 14.4927536232vw; }
    .competition-reward__bg {
      background-color: #fce34c;
      height: 869.5652173913vw; }
      .competition-reward__bg-shadow {
        background-color: #e7d04b;
        height: 879.2270531401vw;
        transform: skewY(-8deg); }
    .competition-reward__contents {
      padding-top: 19.3236714976vw; }
    .competition-reward__champion {
      display: flex;
      flex-direction: column;
      height: 193.2367149758vw; }
      .competition-reward__champion-outline {
        margin-top: 12.077294686vw;
        text-align: center; }
        .competition-reward__champion-outline__description {
          display: flex;
          flex-direction: column;
          font-size: 5.7971014493vw;
          height: 57.9710144928vw;
          justify-content: center;
          line-height: 6.038647343vw;
          padding: 8.4541062802vw 2.4154589372vw 12.077294686vw; }
          .competition-reward__champion-outline__description p:not(:first-child) {
            margin-top: 3.6231884058vw; }
          .competition-reward__champion-outline__description span {
            font-size: 3.8647342995vw; }
        .competition-reward__champion-outline-contents-title {
          background-color: #fce34c; }
      .competition-reward__champion__prize-image {
        overflow: hidden;
        width: 100%; }
        .competition-reward__champion__prize-image-pc {
          display: none; }
        .competition-reward__champion__prize-image-sp {
          display: inline-block;
          width: 101%; }
    .competition-reward__tops {
      display: flex;
      flex-direction: column;
      height: 193.2367149758vw;
      margin-top: 19.3236714976vw; }
      .competition-reward__tops-outline {
        margin-top: 12.077294686vw;
        text-align: center; }
        .competition-reward__tops-outline__description {
          display: flex;
          flex-direction: column;
          font-size: 5.7971014493vw;
          height: 57.9710144928vw;
          justify-content: center;
          line-height: 6.038647343vw;
          padding: 8.4541062802vw 2.4154589372vw 12.077294686vw; }
          .competition-reward__tops-outline__description p:not(:first-child) {
            margin-top: 3.6231884058vw; }
          .competition-reward__tops-outline__description span {
            font-size: 3.8647342995vw; }
        .competition-reward__tops-outline-contents-title {
          background-color: #fce34c; }
      .competition-reward__tops__prize-image {
        overflow: hidden;
        transform: translateX(-0.2415458937vw);
        width: 100%; }
        .competition-reward__tops__prize-image-pc {
          display: none; }
        .competition-reward__tops__prize-image-sp {
          display: block;
          width: 101%; }
    .competition-reward__others {
      display: flex;
      flex-direction: column;
      height: 193.2367149758vw;
      margin-top: 19.3236714976vw; }
      .competition-reward__others-outline {
        margin-top: 12.077294686vw;
        text-align: center; }
        .competition-reward__others-outline__description {
          display: flex;
          flex-direction: column;
          font-size: 5.7971014493vw;
          height: 57.9710144928vw;
          justify-content: center;
          line-height: 9.6618357488vw;
          padding: 8.4541062802vw 2.4154589372vw 12.077294686vw; }
          .competition-reward__others-outline__description p:not(:first-child) {
            margin-top: 3.6231884058vw; }
          .competition-reward__others-outline__description span {
            font-size: 3.8647342995vw; }
        .competition-reward__others-outline-contents-title {
          background-color: #fce34c; }
      .competition-reward__others__prize-image {
        overflow: hidden;
        width: 100%; }
        .competition-reward__others__prize-image-pc {
          display: none; }
        .competition-reward__others__prize-image-sp {
          display: block;
          width: 101%; } }
.entry {
  margin-top: 3rem;
  padding-top: 12rem; }
  .entry__bg {
    background-color: #fce34c;
    height: 140rem; }
    .entry__bg-shadow {
      background-color: #e7d04b;
      height: 145rem;
      transform: skewY(-8deg); }
  .entry__contents {
    padding-top: 12rem;
    transform: skewY(8deg); }
  .entry__player-entry {
    margin: 0 auto;
    width: 75rem; }
    .entry__player-entry__list {
      background-color: white;
      box-shadow: 0.5rem 0.5rem 1rem #464646;
      font-size: 1.6rem;
      height: 20rem;
      line-height: 2.5rem;
      list-style: inside;
      margin-top: 4rem;
      overflow: scroll;
      overflow-x: hidden;
      padding: 2rem 4rem;
      max-width: 75rem; }
      .entry__player-entry__list li:not(:first-child) {
        margin-top: 1.4rem; }
      .entry__player-entry__list li {
        letter-spacing: 0.1rem;
        margin-left: 1.6em;
        text-indent: -1.6em; }
      .entry__player-entry__list span {
        font-size: 1.4rem; }
    .entry__player-entry__button {
      margin: 25rem auto 0;
      position: relative;
      transform: translateX(-5rem);
      transition: 0.2s;
      width: 37.5rem; }
      .entry__player-entry__button__text {
        align-items: center;
        background-color: black;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 3rem;
        height: 10rem;
        justify-content: center;
        position: absolute;
        transition: 0.3s;
        z-index: 4;
        width: 47.5rem; }
        .entry__player-entry__button__text:hover {
          transform: scale(1.1); }
      .entry__player-entry__button__dragon {
        display: block;
        position: absolute;
        right: -22rem;
        top: -18rem;
        width: 37.5rem; }
      .entry__player-entry__button__bg--blue {
        background-color: rgba(85, 218, 248, 0.7);
        height: 10rem;
        position: absolute;
        transform: translate(-1rem, -1rem);
        width: 47.5rem;
        z-index: 2; }
      .entry__player-entry__button__bg--red {
        background-color: rgba(255, 35, 35, 0.7);
        height: 10rem;
        position: absolute;
        transform: translate(1rem, 1rem);
        width: 47.5rem;
        z-index: 3; }
  .entry__spectator-entry {
    margin: 45rem auto 0;
    width: 68rem; }
    .entry__spectator-entry__text {
      font-size: 1.6rem;
      line-height: 3rem;
      margin-top: 4.5rem;
      margin-left: 3.5rem;
      text-align: center; }
    .entry__spectator-entry__pc-button {
      margin-top: 4rem;
      text-align: center; }
      .entry__spectator-entry__pc-button img {
        box-shadow: 0 1rem 0.5rem -0.5rem rgba(105, 105, 105, 0.548);
        cursor: pointer;
        transition: 0.2s;
        width: 38.8rem; }
        .entry__spectator-entry__pc-button img:hover {
          transform: scale(1.1); }
    .entry__spectator-entry__sp-button {
      display: none; }

@media screen and (max-width: 768px) {
  .entry {
    margin-top: 0vw;
    padding-top: 14.4927536232vw;
    text-align: center; }
    .entry__bg {
      background-color: #fce34c;
      height: 289.8550724638vw; }
      .entry__bg-shadow {
        background-color: #e7d04b;
        height: 299.5169082126vw;
        transform: skewY(-8deg); }
    .entry__contents {
      padding-top: 24.154589372vw; }
    .entry__player-entry {
      margin-top: 0;
      width: 67.6328502415vw; }
      .entry__player-entry__list {
        box-shadow: 1.2077294686vw 1.2077294686vw 1rem #464646;
        box-sizing: border-box;
        font-size: 3.8647342995vw;
        height: 57.9710144928vw;
        line-height: 7.2463768116vw;
        margin-top: 8.4541062802vw;
        margin-left: -15%;
        padding: 1.2077294686vw 2.4154589372vw;
        text-align: left;
        width: 130%; }
        .entry__player-entry__list li:not(:first-child) {
          margin-top: 3.3816425121vw; }
        .entry__player-entry__list li {
          letter-spacing: 0.2415458937vw; }
        .entry__player-entry__list span {
          font-size: 2.8985507246vw; }
      .entry__player-entry__button {
        display: block;
        margin: 36.231884058vw auto;
        right: 45%;
        transform: translateX(50%);
        width: 100%; }
        .entry__player-entry__button__text {
          font-size: 5.3140096618vw;
          height: 21.7391304348vw;
          text-align: center;
          width: 60.38647343vw; }
        .entry__player-entry__button__dragon {
          right: 9.6618357488vw;
          top: -28.9855072464vw;
          width: 53.1400966184vw; }
        .entry__player-entry__button__bg--blue {
          height: 21.7391304348vw;
          width: 60.38647343vw; }
        .entry__player-entry__button__bg--red {
          height: 21.7391304348vw;
          width: 60.38647343vw; }
    .entry__spectator-entry {
      font-size: 3.8647342995vw;
      margin-top: 91.7874396135vw;
      width: 72.4637681159vw; }
      .entry__spectator-entry__pc-button {
        display: none; }
      .entry__spectator-entry__sp-button {
        display: block;
        margin-top: 9.6618357488vw;
        transition: 0.2s; }
        .entry__spectator-entry__sp-button img {
          width: 60.38647343vw; }
        .entry__spectator-entry__sp-button:hover {
          transform: scale(1.1); }
      .entry__spectator-entry__text {
        font-size: 3.8647342995vw;
        line-height: 7.2463768116vw;
        margin: 9.6618357488vw 0 0;
        text-align: left; } }
.sponsor {
  margin-top: 0;
  padding-top: 12rem;
  transform: translateY(4rem); }
  .sponsor__bg {
    padding: 12rem 2rem 0;
    background-color: #fce34c;
    height: 98rem; }
    .sponsor__bg-shadow {
      background-color: #e7d04b;
      height: 98rem;
      transform: skewY(-8deg); }
  .sponsor__contents {
    background-color: #443F21;
    display: flex;
    flex-wrap: wrap;
    transform: skewY(8deg);
    justify-content: space-evenly;
    padding: 4rem 0;
    margin: 5rem auto 0;
    max-width: 85rem;
    width: 100%; }
    .sponsor__contents p {
      align-items: center;
      background-color: white;
      display: flex;
      height: 9rem;
      justify-content: center;
      margin: 4rem 5rem;
      width: 25rem; }
      .sponsor__contents p img {
        display: block;
        margin: 1rem 2rem;
        width: 18rem; }

@media screen and (max-width: 768px) {
  .sponsor {
    margin-top: -16.9082125604vw;
    padding-top: 14.4927536232vw;
    transform: translateY(16.9082125604vw); }
    .sponsor__bg {
      padding: 19.3236714976vw 0;
      background-color: #fce34c;
      height: 169.0821256039vw; }
      .sponsor__bg-shadow {
        background-color: #e7d04b;
        height: 169.0821256039vw;
        transform: skewY(-8deg); }
    .sponsor__contents {
      margin: 0 auto;
      padding: 2.4154589372vw;
      width: 90%; }
      .sponsor__contents p {
        height: 19.3236714976vw;
        margin: 4.8309178744vw 0;
        width: 38.6473429952vw; }
        .sponsor__contents p img {
          display: block;
          margin: 2.4154589372vw 4.8309178744vw;
          width: 28.9855072464vw; } }
.footer {
  background-image: url("../images/pc_footer_bg.svg");
  background-position: left top;
  background-size: cover;
  box-sizing: border-box;
  height: 55rem;
  padding: 13rem 4.5rem 0;
  position: absolute;
  z-index: 1;
  width: 100%; }
  .footer__organizer {
    text-align: center; }
    .footer__organizer h1 {
      color: white;
      font-size: 2rem;
      margin-bottom: 1rem; }
    .footer__organizer img {
      background-color: white;
      padding: 0.5rem 1rem;
      width: 35rem; }
  .footer__support {
    margin-top: 3rem;
    text-align: center; }
    .footer__support h1 {
      color: white;
      font-size: 1.8rem;
      margin-bottom: 1rem; }
    .footer__support img {
      background-color: white;
      padding: 0.5rem 1rem;
      width: 13rem; }
  .footer__menu {
    display: flex;
    margin: 5rem auto 0; }
    .footer__menu ul:nth-child(2) {
      margin-left: 8rem; }
    .footer__menu li:not(:first-child) {
      margin-top: 1.8rem; }
    .footer__menu li a {
      color: white;
      font-size: 1.4rem;
      text-decoration: none; }
      .footer__menu li a:hover {
        color: #fce34c; }
  .footer__pc-site-logo {
    margin-left: auto;
    transform: translateY(-4rem); }
    .footer__pc-site-logo img {
      width: 25rem; }
  .footer__sp-site-logo {
    display: none; }
  .footer small {
    color: white;
    display: block;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    text-align: center; }

@media screen and (max-width: 768px) {
  .footer {
    background-image: url("../images/sp_footer_bg.svg");
    height: 115.9420289855vw;
    padding: 19.3236714976vw 9.6618357488vw 0; }
    .footer__organizer {
      align-items: center;
      display: flex; }
      .footer__organizer h1 {
        font-size: 4.347826087vw;
        margin-bottom: 0;
        margin-right: 2.4154589372vw; }
      .footer__organizer img {
        padding: 1.2077294686vw 2.4154589372vw;
        width: 57.9710144928vw; }
    .footer__support {
      align-items: center;
      margin-top: 4.8309178744vw;
      display: flex; }
      .footer__support h1 {
        font-size: 4.347826087vw;
        margin-bottom: 0;
        margin-right: 2.4154589372vw; }
      .footer__support img {
        padding: 1.2077294686vw 2.4154589372vw;
        width: 19.3236714976vw; }
    .footer__menu ul:nth-child(2) {
      margin-left: 4.8309178744vw; }
    .footer__menu li:not(:first-child) {
      margin-top: 4.8309178744vw; }
    .footer__menu li a {
      font-size: 2.8985507246vw; }
    .footer__pc-site-logo {
      display: none; }
    .footer__sp-site-logo {
      display: block;
      text-align: center;
      margin-top: 7.2463768116vw; }
      .footer__sp-site-logo img {
        width: 33.8164251208vw; }
    .footer small {
      font-size: 2.8985507246vw;
      margin-top: 6.038647343vw; } }

/*# sourceMappingURL=index.css.map */
